[2021-03-16 08:30] HemangChothani opened #25 "compliance tests are failing"
Compliance tests are not running with new version of `sqlalchemy`
## Expected Behavior
Successfully run the tests

## Actual Behavior
Throw as error `sqlalchemy.exc.ArgumentError: Could not parse rfc1738 URL from string 'None'`

## Steps to Reproduce the Problem

1. nox -s compliance_test

## Specifications

- Version: sqlalchemy== 1.4.0

[2021-03-16 09:30] IlyaFaer commented on #25
I've checked tests locally with SQLAlchemy 1.4, everything is working fine. Most likely, the problem is in argument you've passed into `create_engine()`. See the repo readme for an example of how to connect to the database.

[2021-03-17 09:43] #25 closed

[2021-04-21 12:23] hadim opened #58 "Release on pypi"
Could a version be released on pypi or a git tag added to the repo? I would like to package this lib on conda forge.

[2021-05-20 00:58] skuruppu commented on #58
@hadim absolutely. At the moment, we are focusing on getting the preview release milestone. But shortly after that, we'll work on getting the packages into pypi. Let us know if this is urgent for you though.

[2021-05-20 01:21] hadim commented on #58
It's not urgent. Just ping me here when it's done and I will make the conda forge package.

[2021-05-20 10:24] skuruppu opened #72 "ci: flaky tests"
## Expected Behavior
Test suite should pass against prod.

## Actual Behavior
We see lots of different kinds of errors. Examples:
 - "Transaction aborted. Database schema probably changed during transaction, retry may succeed." [link](https://app.circleci.com/pipelines/github/cloudspannerecosystem/python-spanner-sqlalchemy/217/workflows/473e8528-3cb2-4b01-afe2-5104c4d94af4/jobs/254)
 - Same as abo

[2021-05-25 07:34] HemangChothani opened #76 "Add unit tests for opentelemtry tracing"
Reference from the comment on PR https://github.com/cloudspannerecosystem/python-spanner-sqlalchemy/pull/51#pullrequestreview-667477420

[2021-05-26 16:07] hadim opened #79 "How to force using a secondary index"
The below query using SQLAlcehmy correctly use the secondary index implicitly:

[code]

Now if I want to join it with an interleaved table with:

[code]

It triggers a table full scan. To make it efficient I can specify the secondary index manually in the query and it works just well:

[code]

My question is how can I do this using the SQLAlchemy ORM? I couldn't find a way to specify a secondary i

[2021-05-27 08:32] IlyaFaer commented on #72
The first error seems familiar, I think it's already fixed by this PR: https://github.com/googleapis/python-spanner/pull/345
I'll keep an eye on it, but after #345 was merged, I didn't get single `Aborted` failure yet.

`Column not present` and `Duplicate name` most likely happening because someone executing the tests locally, in the same time the workflow do. I assume the PR #65 is not working fi

[2021-05-27 08:53] IlyaFaer commented on #79
I suppose what you're searching can be achieved by using hints, like this:
[code]

[2021-05-27 13:01] hadim commented on #79
Thanks! I noticed `with_statement_hint` already (should have mentioned it) but I can't make it to work with a `Session` object and a more complex queries than your example:

[code]

gives

[code]

As you can the `FORCE_INDEX` ends up at the end of the query instead of the end of the `FROM` clause.

[2021-05-27 15:33] hadim commented on #79
Using `with_hint()` seems to put the hint at the correct position **but** it surrounds it with `[ ]`.

[code]

[code]

Now if I compile it with the spanner engine the hint disappears:

[code]

[code]

I don't know whether this is a bug or I am doing something wrong. Looking at this SQLAlchemy test, it should work:

[code]

at https://github.com/sqlalchemy/sqlalchemy/blob/c99c93fd64314c6384a1153c07

[2021-05-27 18:08] IlyaFaer commented on #79
@hadim, yeah, I've also managed to find out the same things. Was trying to understand why and where those brackets are added before writing any comments. Don't see anything in docs so far, so gonna log the code and see where and what we need to override to make it work fine.

[2021-05-27 18:25] hadim commented on #79
Thanks.

As a very dirty hack for the moment, I just convert the query object to a raw query using a MySQL dialect and then reuse it in a new query with `from_statement()`:

[code]

It works but it's very ugly xD

[2021-05-28 08:42] IlyaFaer commented on #79
I've found the place, where it's done. Brackets are added without any comments, so causes are fogged. Still, it seems to be ease overridable, so I'm going to push a PR soon 👌

[2021-06-01 18:48] aderk commented on #58
@skuruppu I need to package python-spanner-sqlalchemy for deployment. I can either vendor the package privately, or submit a PR here to create a [pre-release](https://packaging.python.org/guides/distributing-packages-using-setuptools/#pre-release-versioning) on PyPI. Would you be open to the latter? Could you give me some high-level steps? Thanks!

[2021-06-01 19:04] hadim commented on #58
To me that lib is quite mature already. I am using it in production. A git+pip release would be nice indeed.

[2021-06-02 04:51] skuruppu commented on #58
@hadim that's great to hear. Please do file issues, especially if you run into perf issues.

@aderk we were due to cut a pre-release a week or so ago but we had to investigate a potential DDL performance issue so we're going to look into that first before adding the git tag. Really sorry for the delay on this but we're working on the investigation.

In terms of publishing to PyPI, I realize that t

[2021-06-02 17:57] aderk commented on #58
I can create it privately no problem, best of luck with cutting the release. Cheers

[2021-06-04 01:37] #79 closed

[2021-06-04 01:37] hadim commented on #79
Thanks!

[2021-06-07 22:17] aderk opened #86 "String-type columns with undefined length break during load but not creation"
## Expected Behavior
a STRING(MAX) column is loadable

## Actual Behavior
STRING(MAX) column loading raises exception:
[code]

STRING(MAX) is an alias for STRING(2621440) https://cloud.google.com/spanner/docs/data-definition-language#string

## Steps to Reproduce the Problem
[code]

## Specifications

- Version: c7e66fdaea55df8ff7bcaec1984813bd3bed20b0
- Platform: linux

[2021-06-10 09:23] IlyaFaer commented on #86
@aderk, thank you for the working snippet!

Yeah, I see the problem. @larkee, I assume the same is actual for `BYTES` type. Will deal with it.

[2021-06-10 23:54] aderk commented on #86
Sorry I just saw this. I updated `BYTES` as well. I'll defer the PR to you, @IlyaFaer, unless you advise me otherwise. Cheers

[2021-06-11 07:50] IlyaFaer commented on #86
No problem 👌

[2021-06-14 09:00] IlyaFaer commented on #72
These errors seem to be fixed, closing the issue, but will keep an eye.

[2021-06-14 09:00] #72 closed

[2021-06-15 05:55] vi3k6i5 opened #89 "Update open telemetry tracing code according to new spec."
The method used in [open telemetry tracing](https://github.com/cloudspannerecosystem/python-spanner-sqlalchemy/blob/main/google/cloud/sqlalchemy_spanner/_opentelemetry_tracing.py#L28) has been updated in this [commit]( https://github.com/lzchen/opentelemetry-python/commit/cf13537eaa8f6159598b5c17e1159b9571a3996c#diff-af63e517bdd2a33c2a8833eb083e0b0f640e0c62a591f0d289deb42d5cb3ce60R25)

## Steps to

[2021-06-15 07:22] #86 closed

[2021-06-17 13:26] vi3k6i5 opened #92 "Failure in compliance test on circle ci"
## Expected Behavior:
ci/circleci: build-and-test to Pass

## Actual Behavior

Failure in compliance test:
=================================== FAILURES ===================================
_____ ComponentReflectionTest_spanner+spanner.test_get_noncol_index_no_pk ______
Traceback (most recent call last):
  File "/home/circleci/project/.nox/compliance_test/lib/python3.8/site-packages/sqlalchemy/testi

[2021-06-17 13:58] #89 closed

[2021-06-25 08:17] IlyaFaer commented on #76
This issue seems to be fixed by the PR https://github.com/cloudspannerecosystem/python-spanner-sqlalchemy/pull/88
Closing

[2021-06-25 08:17] #76 closed

[2021-07-16 06:06] wusendong opened #97 "How to use readonly transaction"
I want to execute the query from a database in which my service account has no `beginOrRollbackReadWriteTransaction` permission, and I use this library with pandas via codes like here:

[code]

And I got a message returns: "Caller is missing IAM permission spanner.databases.beginOrRollbackReadWriteTransaction on resource projects/project_id/instances/instance_id/databases/demo"

So how to use this

[2021-07-18 23:56] geudrik opened #98 "Using __table_args__ to specify an interleaved child ignores cascade action"
## Expected Behavior
`INTERLEAVE IN PARENT ob_malware ON DELETE CASCADE;`

## Actual Behavior
`INTERLEAVE IN PARENT ob_malware ON DELETE NO ACTION;`

## Steps to Reproduce the Problem
Create a table using a declarative base, and specify
[code]
The table is configured correctly to be interleaved, but cascade is set to `NO ACTION`

## Specifications

- Version: https://github.com/cloudspannerecosyst

[2021-07-19 02:07] larkee commented on #98
Thank you for filing this issue!

I was able to replicate the problem and discovered that the implementation was not checking the passed bool due to a typo in the keyword :sweat_smile:

I have created a fix PR here: #99

[2021-07-19 02:16] geudrik commented on #98
Thanks for a quick fix! 😀

[2021-07-19 23:22] #98 closed

[2021-07-22 04:07] skuruppu commented on #97
@wusendong just letting you know that @IlyaFaer is looking into how to support this. I don't believe there's a way to trigger the implementation to use read-only SQL in the current implementation. But @IlyaFaer will get back to you with details.

[2021-07-22 13:58] geudrik commented on #98
Any idea when this will make it onto pypi? We're ready to start building with it

[2021-07-23 15:27] geudrik opened #100 "When using interleaved tables, specifying foreign keys results in both FKs and interleaving"
## Expected Behavior
Ideally, I think that if we specify interleaving on a table, FK relationships should be ignored (when creating DDL statements for creates). The docs for Spanner indicate to use one or the other, but spanners API allows both to be done simulcisely.

Thoughts?

## Actual Behavior
N/A

## Steps to Reproduce the Problem

Define a table with Interleaving, and a FK (on the parent ke

[2021-07-27 20:28] IlyaFaer commented on #97
Yes, it looks like we need to do some changes in code first. Working on it.

[2021-07-28 09:41] wusendong commented on #97
@IlyaFaer glad to hear that 👍

[2021-08-02 08:52] IlyaFaer commented on #97
@wusendong, by default a connection is in non-autocommit mode. However, if your case doesn't require to stay in non-autocommit mode, you probably can initiate a connection manually from the engine, turn it into `autocommit` mode (by writing `connection.autocommit = True`) and then call `read_sql()`. In this case a single-use ReadOnly transaction going to be be used, which should work for your case

[2021-08-03 08:36] IlyaFaer commented on #100
@geudrik, could you attach a link to the doc you're relating?

There is a code snippet in [foreign keys and interleaved tables comparison section](https://cloud.google.com/spanner/docs/foreign-keys/overview#fk-and-table-interleaving), which shows how both foreign key and interleaved table relations can be used in the same time. Thus, the features are not considered as mutually exclusive.

[2021-08-04 01:23] geudrik commented on #100
Yeah, this description wasn't all that clear, my mistake. This is in reference to having a FK defined on an interleaved table, _where the FK is the parent row's ID_. This is totally allowable in the DDL, but is redundant given the nature of interleaving, and possibly has some overhead cost (pure speculation on that last bit)?

The doc I was referring to is actually the one you linked [here](https:

[2021-08-04 01:28] geudrik commented on #100
Example here - `rel_malware_communicates_with` is interleaved on `ob_malware`, and has `rel_malware_communicates_with.malware_id` as a foreign key to `ob_malware.malware_id` (redundant and not necessary).
[code]

[2021-08-06 09:47] IlyaFaer commented on #100
@geudrik, I see, thanks.

I also found [the section](https://cloud.google.com/spanner/docs/schema-and-data-model#parent-child_table_relationships) where it's recommended to use one of, but not both mechanisms. So, it can be considered as a bad practise.

@skuruppu, I suppose if we want to restrict cases when foreign key duplicates an interleaved relation, we should do this on backend, to make it a

[2021-08-06 11:36] wusendong commented on #97
Good to see your quick implementation, this will help us a lot 👏

[2021-08-08 12:03] geudrik commented on #100
@IlyaFaer GCP Case 28511772 was worked a few weeks back, which also describes this behavior

[2021-08-10 04:25] larkee commented on #100
Cloud Spanner allows for both to be used simultaneously which is why the API supports this. However, as per [the updated documentation](https://cloud.google.com/spanner/docs/foreign-keys/overview#fk-and-table-interleaving):

I would prefer to not make a choice between the two for the user (e.g. ignore FKs over interleaving) as different use cases have different requirements.

[2021-08-10 14:04] geudrik commented on #100
OK, cool. So given that, would it be worth while to have an option maybe that would strip FK's out of the DDL generated if the column is interleaved?

[2021-08-16 03:07] larkee commented on #100
@geudrik I'm a little confused by your request. My understanding is that SQLAlchemy will generate the DDL based on the user code so the user would have to be specifying both FKs _and_ interleaving for this case to occur. Wouldn't it make more sense to just include logic in the user code to not specify FKs when using interleaving?

Please let me know what your use case is if this is not an option :

[2021-08-20 18:12] hadim commented on #58
I have created a conda package using the 0.1.0 tag. See https://github.com/conda-forge/sqlalchemy-spanner-feedstock. Please make a PR to the feedstock if you want to be added as a maintainer.

[2021-08-20 21:05] aderk opened #103 "Most queries raise non-fatal `ValueError: Transaction is already committed`"
## Expected Behavior
Connection pool does not raise exceptions

## Actual Behavior
Connection pool raises non-fatal exceptions for SELECT/INSERT transactions

## Steps to Reproduce the Problem
[code]
[code]

## Specifications

- Version: Python 3.8.8 (default, Apr  1 2021, 17:00:06)
1c9be70f901ca016c357ced66fe258f01b694787
- Platform: Linux

[2021-08-22 02:00] hadim opened #104 "google.api_core.exceptions.ResourceExhausted: 429 Quota exceeded for quota metric 'Administrative requests' and limit 'Administrative requests per minute'"
I am running into some quota limitations when doing a high number of **read** requests in parallel:

[code]

The request is quite similar to a simple `SELECT * FROM table1 as t1 JOIN table2 as t2 ON t1.id = t2.id`.

The error says **Administrative requests per minute** which seems weird to me since it has nothing to do with an admin action right?

Is it something related to `python-spanner-sqlalch

[2021-08-22 02:02] hadim commented on #104
I also tried to look at the GCP > IAM & Admin > Quotas limits for Spanner but the admin one can't be modified.

[2021-08-22 02:04] hadim commented on #104
Potentially related:

- https://github.com/googleapis/nodejs-spanner/issues/958
- https://github.com/cloudspannerecosystem/python-spanner-sqlalchemy/issues/97
- https://github.com/googleapis/python-spanner/issues/483

[2021-08-22 02:22] hadim opened #105 "SQLAlchemy 1.4"
Are you planning to support SQLAlchemy 1.4? It's likely the last 1.* version before a 2.0. See https://docs.sqlalchemy.org/en/14/changelog/migration_20.html

[2021-08-23 08:22] IlyaFaer commented on #103
There was an attempt to fix the error in the PR #68, but something seems to be left to do there.

[2021-08-23 08:54] IlyaFaer commented on #103
@aderk, I can't reproduce the error yet.

What about `google-cloud-spanner` version? SQLAlchemy dialect is built on top of it, problem can be there. I'm using `master/main` branches in both repositories, and it works fine.

Still, I have a suspision. `dbapi_connection` arg accepted by the `do_rollback()` method can be of two types. Usually, we do something like this to avoid errors:
https://github

[2021-08-23 12:18] hadim commented on #104
Here is a more complete traceback:

[code]

Looking at it it seems that during `connect()` in `spanner_dbapi/connection.py`, the lib is doing an admin call to check whether the database exists:

[code]

and this is probably what triggers the admin quota limit.

I tried to reproduce the same error using `python-spanner` only:

[code]

But I don't the error.

Which makes me think that somehow, `pyth

[2021-08-23 12:33] hadim commented on #104
The following monkey patch makes it work:

[code]

[2021-08-23 12:59] hadim commented on #104
When commenting:

[code]

I don't see the error anymore.

[2021-08-23 14:59] hadim opened #107 "AttributeError: 'NoneType' object has no attribute '_getter'"
Here is an error that seems is hard to reproduce. I think it happens when too many requests are made on a Spanner database and some of them are not satisfied because of resource constraints.

I am using SQLAlchemy 1.3.23.

Here is a full traceback:

[code]

It happens when doing 1,000 calls in parallel with `n_jobs=16` (every call is reading ~1k-5k rows). And the spanner DB has 3 nodes.

Do you th

[2021-08-23 15:10] hadim commented on #107
An easy fix is just to catch the error:

[code]

It works fine but I still don't know whether I am missing some rows here or whether a given request is just returning no rows because no rows exist in the database.

I tried to reproduce it but sending a single SQL request that I know will return 0 rows and I don't see the bug. It only seems to happen when executing many requests in parallel with `j

[2021-08-23 15:15] hadim commented on #107
Checking again and the requests that throw the error contain a `WHERE` statement that should indeed return rows so catching the error is probably not the good thing to do here.

[2021-08-23 16:23] aderk commented on #103
Thanks Ilya for the quick response!

In case it still matters:

google-cloud-spanner           3.7.0

I can confirm #106 fixes this issue on my machine! =D

[2021-08-23 23:18] hadim commented on #107
After more investigations, it turns out the error is due to a closed connection. Probably because of a timeout.

Using `NullPool` fixes it (increasing the timeout of a `QueuePool` might work too).

[code]

Hope it can help someone!

[2021-08-23 23:18] #107 closed

[2021-08-23 23:50] hadim commented on #104
In case it's useful for someone else, here is a monkey patch that works for me:

[code]

[2021-08-24 12:25] hadim commented on #107
I am not going to reopen here but I still see the error from time to time, but its frequency is much lower than before while not much has changed in the workload source code and the Spanner DB.

So I am a bit confused. I will keep monitoring it and report here.

[2021-08-30 09:21] IlyaFaer commented on #105
Didn't have time to take a closer look and remember what's happening there, sorry.

So, when we're trying to execute tests with SQLAlchemy 1.4, connecting procedure fails with an error:
`sqlalchemy.exc.ArgumentError: Could not parse rfc1738 URL from string 'None'`

More details:
https://github.com/googleapis/python-spanner-sqlalchemy/pull/26/files

To make the package work with SQLAlchemy 1.4, we

[2021-08-30 10:23] IlyaFaer commented on #105
I've tested the `entry_points` change to `spanner.spanner` with SQLAlchemy 1.3.24 and 1.4.23. Looks like now in principle we can use `spanner.spanner` for both of them.

Still, 1.4 test suite is little bit different than 1.3, so we'll have to update our tests to make them work with 1.4. And they'll not work with 1.3 anymore, but this seems to be related only to the testing system itself -  I don't

[2021-09-07 04:53] #104 closed

[2021-09-07 05:00] skuruppu commented on #105
@IlyaFaer thanks for looking into this. Could we clone the tests and run them as two separate targets?

@larkee do you have any thoughts on how we can make this work?

[2021-09-07 05:27] skuruppu opened #115 "feat: set user-agent string to distinguish SQLAlchemy requests"
**Is your feature request related to a problem? Please describe.**
The implementation doesn't seem to set a user-agent string to indicate that the requests are coming from SQLAlchemy.

**Describe the solution you'd like**
Set the user-agent in the dbapi connection.

**Describe alternatives you've considered**
N/A

**Additional context**
It seems that [dbapi](https://github.com/googleapis/python-sp

[2021-09-07 09:30] IlyaFaer commented on #115
Pushed changes for SQLAlchemy: https://github.com/googleapis/python-spanner-sqlalchemy/pull/116

As I see, Django already uses its own user agent (though it's hardcoded): https://github.com/googleapis/python-spanner-django/blob/4643876219e8a54feb94bf14a79f0fe2fbe3971a/django_spanner/base.py#L135

So, the only place left is the DB API itself:
https://github.com/googleapis/python-spanner/blob/48ac92

[2021-09-07 11:17] skuruppu commented on #115
Good question, I think it is good to distinguish between the client library and dbapi. So how about we default dbapi to something like "dbapi/<version>" where version is the Spanner client version as they both get released in the same package?

[2021-09-07 22:20] skuruppu opened #117 "Flaky test teardown: Quota exceeded for quota metric 'Instance delete requests'"
`google.api_core.exceptions.ResourceExhausted: 429 Quota exceeded for quota metric 'Instance delete requests' and limit 'Instance delete requests per minute' of service 'spanner.googleapis.com' for consumer 'project_number:353504090643'.`

Example: https://app.circleci.com/pipelines/github/googleapis/python-spanner-sqlalchemy/367/workflows/20428ee4-29b1-4620-a79b-dde957fc35f8/jobs/437

[2021-09-08 13:50] geudrik opened #118 "Specifying an Array(String) column type results in a KeyError during Alembic Migrations"
#### Environment details

  - Programming language: Python 3.8
  - OS: Docker (Debian Slim base)
  - Language runtime version: Py3.8
  - Package version: master@a0ebf758eda351c0a20103f9e8c2243f002b2e6e

#### Steps to reproduce

  1. Define a table with a column with an array type `permissions: List[String] = Column(ARRAY(String))`
  2. Run an Alembic automigration

I added two prints in my local v

[2021-09-08 13:52] geudrik commented on #118
Oh, I also tried via the latest commit hash, same issue.

[2021-09-08 13:58] geudrik commented on #100
It's definitely an option, and I think you're right in thinking about it more. My initial thought was to make interleaved columns explicitly clear what they are/were via the visual cue in the column def that it's, in effect, an FK. It's complicated, ofc.

[2021-09-08 13:58] #100 closed

[2021-09-08 14:08] geudrik commented on #115
Looks like I'm just late to the party, based on @IlyaFaer 's MR that's been merged

[2021-09-08 23:40] skuruppu commented on #115
@IlyaFaer I assume you'll have a PR coming to fix the default in dbapi?

@geudrik I'm a bit torn on whether to default dbapi to have `python-spanner/<version>` or `dbapi/<version`. I think ideally we'd distinguish the Python client from dbapi since they have different use cases. But I understand that it's in the same package so maybe it's confusing to distinguish it.

[2021-09-08 23:46] geudrik commented on #115
I'm just an internet stranger, so take my input with some salt. It's your repo after all!

If it were me, I'd ensure that the request identified the code actually using the functionality. In this case, dbapi is the lower level and should have a sane default. But since this lib is another layer up (it depends on dbapi), it's the one that's actually invested in the call.

[2021-09-10 10:45] #103 closed

[2021-09-10 11:19] IlyaFaer commented on #118
Interesting, the original SQLAlchemy reflection tests suite doesn't contain any single case for arrays?!
Okay. I've reproduced the error and already have a solution. Just adding some tests and etc.

[2021-09-10 11:23] geudrik commented on #118
Why test when you can use production as test? 😄  Appreciate the quick fix!

[2021-09-13 09:55] IlyaFaer commented on #117
This failure relates to deleting stale (existing more than 4 hours) test instances before starting a new test session.

One way we can solve it is to add a pause between deletions. This is not very good, as, in theory, there can be a lot of instances, and the tests will not start until all of those instances are deleted.

I think we better `try-except` errors and write log messages, so that we cou

[2021-09-13 09:58] IlyaFaer commented on #117
Looks like something similar to what I mention in the previous comment is implemented in Go:
https://github.com/googleapis/google-cloud-go/blob/69f5fb99057ef585215340448bf3619ba4b71fa5/spanner/integration_test.go#L3347-L3349

[2021-09-13 10:39] #115 closed

[2021-09-13 10:43] IlyaFaer commented on #105
@skuruppu, @larkee, it's little bit challenging, but I think I have some thoughts. The tests for 1.3 and 1.4 are not completely different - most of them will be the same for both versions. Considering that fact, I think we can do this:

- Split `test-suite.py` file to three different files: 1.3 tests, 1.4 tests and common tests.
- 1.3 and 1.4 tests will be executed by different `nox` sessions, whi

[2021-09-14 06:22] skuruppu commented on #105
@IlyaFaer that sounds like a plan. Thanks for looking into it.

[2021-09-14 07:41] #117 closed

[2021-09-14 11:16] IlyaFaer commented on #105
Working on it. Hard to tell how much time it'll require, looks like in 1.4 more tests were added as there are more than 400 cases now, while in 1.3 we have ~300.

[2021-09-14 15:34] geudrik commented on #118
I think there are some additional bugs here

`Error parsing Spanner DDL statement: ALTER TABLE ttp_mitre_enterprise ALTER COLUMN parent_id DROP NOT NULL`

This is the alembic error I get using this branch trying to run a migration.  In this case, the alembic migration is attempting to execute the following alembic code - altering a column and dropping the `NOT NULL` constraint

[code]

[2021-09-14 19:56] aderk opened #121 "`ResultProxy.rowcount` returns -1 regardless of modified rows"
https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.ResultProxy.rowcount

#### Environment details

  - Programming language: Python 3.9
  - OS: Debian
  - Language runtime version:
  - Package version:

#### Steps to reproduce
[code]
### Actual vs Expected Behavior
`res.rowcount` returns -1, but should return 1.

[2021-09-15 12:39] larkee commented on #118
The error mentioned in https://github.com/googleapis/python-spanner-sqlalchemy/issues/118#issuecomment-919266907 is an issue of differing syntax. FWICT, the generated query is using the PostGres syntax:
[code]
However, the Spanner way of doing this would be:
[code]
e.g. to remove NOT NULL
[code]
e.g. to add NOT NULL
[code]

@IlyaFaer  Would you be able to look into adding this support?

[2021-09-15 19:59] IlyaFaer commented on #118
@larkee, yeah, I'll take a look, of course.

[2021-09-15 22:43] larkee commented on #118
Good point. I'll create another issue :+1:

[2021-09-15 22:46] larkee opened #122 "Error parsing generated ALTER COLUMN query"
The generated query when calling `alter_column` is using the PostGres syntax:
[code]
However, the Spanner way of doing this would be:
[code]
e.g. to remove NOT NULL
[code]
e.g. to add NOT NULL
[code]

See https://github.com/googleapis/python-spanner-sqlalchemy/issues/118#issuecomment-919266907 for original example and error.

[2021-09-16 02:46] #118 closed

[2021-09-16 11:57] geudrik commented on #122
Original report below for posterity as well

---

I think there are some additional bugs here / this successive issue should block #119

`Error parsing Spanner DDL statement: ALTER TABLE ttp_mitre_enterprise ALTER COLUMN parent_id DROP NOT NULL`

This is the alembic error I get using this branch trying to run a migration.  In this case, the alembic migration is attempting to execute the following

[2021-09-21 17:31] aderk commented on #121
Have you started working on this? I could take a stab at it, if you like

[2021-09-21 19:44] IlyaFaer commented on #121
@aderk, well, actually, we didn't implemented it earlier, because it looked not very possible. The thing is that `rowcount`, according to PEP-249, represents a number of rows, produced by the last `execute()` method call. Under the hood of the `execute()` method we're in fact only retrieving a `StreamedResultSet()` object, not the rows themselves. As the name of the object hints, it streams the re

[2021-09-21 20:15] aderk commented on #121
Thanks @IlyaFaer! That makes sense. I'll rewrite our application code to not use `rowcount`. Feel free to close or deprioritize this issue. Cheers

[2021-09-22 12:29] geudrik commented on #122
@IlyaFaer any update on this?

[2021-09-24 10:22] IlyaFaer commented on #121
@larkee, do you have any thoughts here?
I've taken a look at responses to different requests and didn't find a way to provide resulting rows count.

Should we raise `NotImplemented` for `rowcount` property?

[2021-09-24 16:01] aderk commented on #121
+1

On Fri, Sep 24, 2021 at 3:23 AM Ilya Gurov ***@***.***> wrote:

[2021-09-25 22:21] hadim commented on #97
I am hitting the same issue here. I have a client application using spanner-sqlalchemy and when it's used by an IAM user with the `roles/spanner.databaseReader` role it raises an error related to a missing `spanner.databases.beginOrRollbackReadWriteTransaction` permission. It works well when the user has the `roles/spanner.databaseUser` role.

The query is quite a standard sqlalchemy one: just get

[2021-09-27 08:35] IlyaFaer commented on #122
Looks like it's related to the Alembic API, not directly the SQLAlchemy dialect. Still, I see we're not the only one who have this problem - there is a solution already. Mimicking it in our API...

[2021-10-07 09:02] google-cloud-policy-bot opened #126 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [x] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-08 08:55] geudrik commented on #122
@larkee we good for primetime? :D

[2021-10-13 00:04] #126 closed, assigned to skuruppu

[2021-11-03 00:04] skuruppu opened #137 "feat: support generated columns"
**Is your feature request related to a problem? Please describe.**
I was trying to setup the following table:

[code]

and I got this error from the Spanner backend:

[code]

This happens because SQLAlchemy translates `Generated("<computation>")` to `GENERATED ALWAYS AS (<computation>) STORED`. But [Spanner syntax](https://cloud.google.com/spanner/docs/generated-column/how-to) for generated colums

[2021-11-03 07:59] IlyaFaer opened #138 "test: implement a base test class to set up engine and metadata"
See the original comment:
https://github.com/googleapis/python-spanner-sqlalchemy/pull/134/files#r738004275

[2021-11-09 19:33] aderk commented on #58
I am unable to find this package on PyPI. Do you know when it will be available?

[2021-11-09 23:16] skuruppu commented on #58
@aderk really sorry about this. I merged in the PR that was meant to trigger the release process but it never worked. I'm working on it today so fingers crossed that we have a release available within a day or so.

[2021-11-09 23:55] skuruppu commented on #58
I managed to create a release on [PyPI](https://pypi.org/project/sqlalchemy-spanner/0.1.dev0/). Not quite the version number that I wanted to create so I will fix that up but hopefully it's a start.

[2021-11-19 05:50] #137 closed

[2021-11-19 18:16] aderk commented on #58
The package I vendored has the exact same version (0.1.dev0) causing a version collision in pip making using PyPI difficult. A version bump on PyPI would be great!

[2021-11-24 03:42] skuruppu commented on #58
Ah, sorry about that @aderk. We're in a release freeze at the moment due to the holidays in the US. But I will try to cut another release on the 1st once we come out of the freeze.

[2021-12-09 02:36] skuruppu commented on #58
Really sorry for the delay @aderk but I just thought that it might make more sense to take the time to do a v1.0 release. Now it's available on PyPI: https://pypi.org/project/sqlalchemy-spanner/ :)

Please let us know if you run into any trouble with it. I will close the issue now as we have the releases setup properly.

[2021-12-09 02:36] #58 closed

[2021-12-09 22:52] aderk opened #168 "`ModuleNotFoundError` with old version of google-cloud-spanner (3.9.0)"
#### Environment details

  - Programming language: python
  - OS: linux
  - Language runtime version: 3.8.8
  - Package version: 1.0.0

#### Steps to reproduce

  1. Use google-cloud-spanner 3.9.0 (3.12.0 is latest)
  2. Do anything (e.g. SELECT) with python-spanner-alchemy
  3. returns `ModuleNotFoundError: No module named 'google.cloud.spanner_v1.data_types'`

#### Steps to resolve:
Update goog

[2021-12-09 23:34] skuruppu commented on #168
Thanks for the report @aderk. @IlyaFaer would you please be able to look into this today?

[2021-12-10 00:11] skuruppu opened #169 "Can't specify nullable state for generated columns"
#### Environment details

  - Programming language: Python
  - OS: Linux
  - Language runtime version: Python3.9
  - Package version: sqlalchemy-spanner-1.0.0

#### Steps to reproduce

1. Run the following snippet:
[code]
2. I get the following error:
[code]
3. It seems that we can't specify the `nullable` condition for generated columns.

[2021-12-10 11:24] skuruppu opened #170 "Automatically call Table.add_is_dependent_on() for interleaved tables."
**Is your feature request related to a problem? Please describe.**

The following snippet returns `google.api_core.exceptions.NotFound: 404 Table not found: Albums`:

[code]

This is because SQLAlchemy creates the Singers table first, then attempts to create Tracks before Albums. From the foreign key constraint, it knows that Singers must be created before Albums but it doesn't know that Albums mu

[2021-12-13 07:41] IlyaFaer commented on #168
@skuruppu, yes, we talked about this error some time ago. We updated JSON data type code, and now SQLAlchemy requires a higher version of `python-spanner`. Pushing changes for requirements.

[2021-12-13 08:01] IlyaFaer commented on #169
@skuruppu, hm-m. I suspect the syntax is not supported by Spanner. According to the docs, it's impossible to directly write into a generated column. So, everything is up to the expression - there we're setting if it can contain `NULL`s, and there is no need in a separate `nullable` parameter. Should we throw an exception with explanation in case `nullable` was used with a generated column?

[2021-12-14 01:11] #168 closed

[2021-12-14 01:15] skuruppu commented on #169
When we were working on EntityFramework, we were able to set this property. See this [data model](https://github.com/googleapis/dotnet-spanner-entity-framework/blob/main/Google.Cloud.EntityFrameworkCore.Spanner.QuickStart/DataModel.sql) for example.

Just to be sure, I ran the above DDL using the Cloud Console and it worked.

[2021-12-14 09:42] IlyaFaer commented on #169
@skuruppu, oh, I see. The `NOT NULL` part is inserted in front of the `computed` part. Okay, let me see how we can fix it.

[2021-12-15 10:05] IlyaFaer commented on #170
@skuruppu, I think I know how we can do this. The problem is that the error seems to be floating. It's not failing 100% times for me (though in my understanding it must fail in 100% of tests). Trying to make a stable test case.

[2021-12-15 10:08] skuruppu commented on #170
Oh that is weird. Come to think of it, I did try the same schema a little while back and I didn't get this error so I was surprised to get it last week. So maybe it's not deterministic.

[2021-12-15 10:40] Romeo-PHILLIPS opened #174 "Can't modify version_num in Google Cloud Spanner"
Thanks for stopping by to ask us a question! Please make sure to include:
- What you're trying to do
Hello, I'm trying to use Alembic with SQLAlchemy-spanner to do database migration. I've setup everything, the data is moving except that alembic to keep track on the current version stores the current version inside version_num in a table that it creates in Spanner. The issue with that is that Span

[2021-12-15 16:55] Romeo-PHILLIPS commented on #174
I seem to have fixed this issue by creating the table and adding another field (primary key) along with the version_num field. Now my other issue is that when I run an upgrade via transaction (for example removing a column), it tries (from what I understand) to do two transactions and then commit both, which is why I believe it fails (the first transaction seems to work while the second fails, whi

[2021-12-16 01:32] #169 closed

[2021-12-16 09:15] IlyaFaer commented on #174
@Romeo-PHILLIPS, it looks like in both cases the error is caused by concurrent transactions. Unlikely primary keys have something to do with it.

Alembic, AFAIK, doesn't provide and sync/lock mechanisms by default, so it's up to user to control the flows.
Can you post your migration script?

[2021-12-16 09:17] Romeo-PHILLIPS commented on #174
Hello, thank you for your answer! Here is my basic migration script:

`def upgrade():
    op.add_column('test_migration_table', sa.Column('test1234567', String(100)))

def downgrade():
    op.drop_column('test_migration_table', 'test1')
`

And here is my env.py

`
class SpannerImpl(DefaultImpl):
    __dialect__ = "spanner"
    # transactional_ddl = True

def run_migrations_offline():
    """Run mi

[2021-12-16 09:29] IlyaFaer commented on #174
@Romeo-PHILLIPS, the very first thing that caught my eyes is this option:
`transactional_ddl=True`

See the section: https://github.com/googleapis/python-spanner-sqlalchemy#ddl-and-transactions
So, at least, the option will have no effect. But I suspect it can even bring some problems, so I'd start with erasing it from the script.

[2021-12-16 09:33] Romeo-PHILLIPS commented on #174
So I removed that attribute, and here are the logs when downgrading:

[code]

The table is dropped, but Alembic doesn't manage to update the current version of the table:

[code]

[2021-12-16 18:40] aderk opened #176 "Support autoincrementing integer IDs in some capacity"
**Is your feature request related to a problem? Please describe.**
Autoincrementing serogate integer surrogate IDs are common among databases over the decades, and strongly recommended against within Cloud Spanner (https://cloud.google.com/spanner/docs/whitepapers/optimizing-schema-design [1]). I realize this is *not* an optimal solution, but it is a very compatible solution when schema migration

[2021-12-16 22:46] aderk opened #177 "Support sqlalchemy >= 1.4.0"
**Is your feature request related to a problem? Please describe.**
sqlalchemy 2.0 has breaking API changes that can be previewed in 1.4. The highest version of sqlalchemy supported by ptyhon-spanner-sqlalchemy is 1.3.23. Currently when using python-spanner-sqlalchemy, users must use the deprecated API, because 1.3.23 does not support the new API.

**Describe the solution you'd like**
python-spanne

[2021-12-17 09:18] IlyaFaer commented on #174
[code]
Quite strange. It looks like a connection is returned back to connections pool, but it's not commited or rolledback. I'll think about it.

We have an auto-retry mechanism for aborted transactions. Meaning it can retry to execute a statement for 50 times in case of a failure. If you'll try to run another migration while it's still retrying, you'll most likely get concurrent transactions.

I'

[2021-12-20 10:10] IlyaFaer commented on #176
@skuruppu, I suppose this request is mostly for the backend.

[2021-12-20 10:31] Romeo-PHILLIPS commented on #174
Here is a log in terms of latency when I get:

[code]

<img width="1286" alt="Capture d’écran 2021-12-20 à 10 30 30" src="https://user-images.githubusercontent.com/92714362/146753278-1787e5ff-c1c3-4662-b553-195562733662.png">

[2021-12-20 23:39] skuruppu commented on #177
@aderk I think this is a reasonable request. Based on #105, @ilya started work on #123 as this was something we wanted to support but we then refocused our efforts on GA'ing the support that we had already built.

We will certainly consider continuing this work next year, just need to figure out priorities with respect to some other projects as well.

[2021-12-21 04:37] skuruppu commented on #176
@aderk I may not have understood the request properly so I wanted to clarify. Do you actually want the IDs to increment in the table, or do you want the dialect to support `autoincrement=True` but you'd be ok with us generating a randomized ID when storing the value?

The reason I ask is that, Spanner doesn't support autoincrement to prevent [hotspotting issues](https://cloud.google.com/spanner/do

[2021-12-21 11:56] #170 closed

[2021-12-22 17:47] aderk commented on #176
Yes. I understand this is discouraged for performance reasons. Also a response like "we don't have high priority (or a willingingness) to support features which are used for discouraged practices, so we won't implement this". However, when migrating legacy tables from schemae with auto-inc IDs to Cloud Spanner from postgres/etc., I think implementing auto-inc IDs application-side makes sense (henc

[2021-12-23 05:08] hyagi96 opened #179 "Commit process of UPDATE clause fails"
If you try to commit an UPDATE (and DELETE) clause for an existing row, you will get an error.
This issue(https://github.com/googleapis/python-spanner-sqlalchemy/issues/121) may be relevant.
A minimal example is shown below.

#### Environment details

  - Programming language: Python
  - OS: Ubuntu 20.04, macOS 12.0.1
  - Language runtime version: 3.9.9
  - Package version:
    - sqlalchemy-spanne

[2021-12-23 05:12] skuruppu commented on #179
@IlyaFaer if you can please take a look today, that would be awesome.

[2021-12-23 05:22] skuruppu commented on #176
Thanks for the clarification @aderk.

In that case, I will say that we don't want to add explicit support for this in the dialect itself since we wouldn't want folks to use it unintentionally and cause perf issues. But I do like the idea of having a snippet in the docs (probably in the README) to say if you really need this, then here's how you can do it.

@IlyaFaer would you be ok with adding a s

[2021-12-23 10:25] IlyaFaer commented on #179
The thing is that we don't support `rowcount` - we're raising an exception in case one is trying to use it ([see for more details](https://github.com/googleapis/python-spanner-sqlalchemy/issues/121)).

Still, it looks like at some points SQLAlchemy ignores the fact we've set `rowcount` feature as unsupported in the dialect requirements and uses it. I suppose one way we can solve it is to show a wa

[2021-12-24 01:22] hyagi96 commented on #179
Thank you for your quick response and analysis and confirming my assumption.

I've also investigated the issue in detail in other repositories, and noticed that there is a similar issue(https://github.com/googleapis/python-spanner-django/issues/744) in another repository for Django.
I've further traced the cause of this and found that, as shown in the above issue, this commit (https://github.com/g

[2021-12-24 02:32] #176 closed

[2021-12-24 10:03] IlyaFaer commented on #174
@Romeo-PHILLIPS, still didn't manage to reproduce your case...

So, you're running a migration, first update - it adds a column and changes the revision in the table. Here everything works fine.
When you do downgrade, it actually downgrades the table, but fails on a revision change... What's the revision value after the fail?

Looking at the traceback you provided, I see that the transaction was a

[2021-12-28 20:22] gabrizappts opened #181 "Spanner primary key strategy compliance"
Hi!
I'd like to know which strategy should be applied in order to create and insert primary keys using python-spanner-sqlalchemy, since the standard documentation recommends [against the usage of auto-increment ids](https://cloud.google.com/spanner/docs/schema-and-data-model), although looking into the library's samples I've come across the following row insertion snippet:
`
def insert_row(connect

[2021-12-29 05:43] skuruppu commented on #181
@gabrizappts good timing because we were just talking about this in #176.

In general, yes, you're right that Cloud Spanner discourages you from using auto-incrementing IDs. As per an example in [our blog](https://cloud.google.com/blog/topics/developers-practitioners/google-cloud-spanner-dialect-sqlalchemy), we recommend that you generate a UUID for primary keys. I will update our README to mentio

[2021-12-29 12:47] gabrizappts commented on #181
Thanks for your response, @skuruppu.

It helped me a lot :)

[2021-12-29 12:47] #181 closed

[2021-12-30 19:03] LeedsDBA opened #183 "Issue with multiple WHERE clauses"
#### Environment details

  - Programming language: python 3.9.9
  - OS: python:3.9.9-slim-buster image (ubuntu, hosting docker)
  - Language runtime version: 3.9.9
  - Package version: 1.0.0

requirements.txt:
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0
SQLAlchemy>=1.3.23
sqlalchemy-spanner>=1.0.0

#### Steps to reproduce

I'm getting the error message:
TypeError: where() takes

[2021-12-30 20:08] gabrizappts opened #184 "Alembic upgrade fails for multiple migration files"
Using Cloud Spanner emulator I am allowed to run my current models and get the tables created, although when using Alembic migrations in the same scenario I keep getting errors from Spanner, warning that it cannot update a primary key row - which I conclude is the num version of the file.

#### Environment details
Windows 11, using Cloud Spanner emulator.

Requirements.txt:
`alembic==1.7.5
asgiref

[2022-01-06 08:18] IlyaFaer commented on #183
@LeedsDBA, thanks for the detailed issue report!

My guess is that this problem is related to SQLAlchemy syntax, not to the Spanner dialect. As far as I understand, you want to execute a complex WHERE clause, with AND and OR operators. In this case you should use `and_()` and `or_()` functions of SQLAlchemy, for example:

[code]
See the WHERE clause related docs page for more details:
https://docs

[2022-01-06 08:27] IlyaFaer commented on #179
The PR with a fix for this problem is merged

[2022-01-06 08:27] #179 closed

[2022-01-06 12:32] gabrizappts opened #185 "Does interleaving allow relationships?"
- What you're trying to do
One of the big disadvantages using is the impossibility to use cascade deletion on foreign keys relations, so it's highly recommended to use interleaving. The docs provide some examples on how to achieve interleaved tables [here](https://github.com/googleapis/python-spanner-sqlalchemy#features-and-limitations), but when using it I was unable to build those relations in a

[2022-01-07 00:26] aderk opened #186 "Use of python-spanner-alchemy breaks sqlalchemy-sqlite"
#### Environment details

  - Programming language: Python 3.8.8 (default, Apr  1 2021, 17:00:06)
  - OS: gLinux
  - Language runtime version: Python 3.8.8 (default, Apr  1 2021, 17:00:06)
  - Package version:
    SQLAlchemy==1.3.23
    sqlalchemy-spanner==1.0.0

#### Steps to reproduce
  1) Create a SQLAlchemy Engine backed by python-spanner-sqlalchemy
  2) Create a new sqlalchemy engine backed b

[2022-01-07 08:42] IlyaFaer commented on #186
@aderk, we're using a reset mechanism to drop `staleness` option when a connection is returned to a pool. The reset mechanism is bounded to the `Pool()` class, globally (in order to catch all the use cases without forcing users to add special code). It appears SQLite executed aside is also affected. Not a big deal, I suppose, let's just add an `if`-statement to avoid touching non-Spanner connectio

[2022-01-07 16:10] aderk commented on #186
Awesome, thank you! A 1.0.1 release including #188 would be very helpful. Is this done automatically, or will I need to wait? Thanks again

[2022-01-10 07:29] #186 closed

[2022-01-10 18:34] hadim opened #190 "AttributeError: 'psycopg2.extensions.connection' object has no attribute 'staleness' with 1.0.0"
I am using this SQLAlchemy to interact with 2 different databases: Spanner and PostgreSQL.

The code used to work fine using `sqlalchemy-spanner ==0.1.0` but after upgrading to `sqlalchemy-spanner ==1.0.0`, I observe the following error:

[code]

The code is too complex to be posted here, but the error happens when I tried to interact with the **non Spanner** database: `task = session.query(models

[2022-01-10 18:42] hadim commented on #190
Please confirm it seems to be related to https://github.com/googleapis/python-spanner-sqlalchemy/issues/186 and fix by https://github.com/googleapis/python-spanner-sqlalchemy/pull/188 ?

[2022-01-10 21:37] aderk commented on #190
Until a new release is cut, you can hotfix with the following code after importing sqlalchemy but before executing any DB queries:
[code]

[2022-01-10 21:47] hadim commented on #190
Thanks for the snippet.

I'll close here then.

[2022-01-10 21:47] #190 closed

[2022-01-11 08:23] IlyaFaer commented on #185
@gabrizappts, the first thing that should be mentioned, is that interleave relations are described for tables, not for specific columns and foreign keys ([see for more details](https://cloud.google.com/spanner/docs/schema-and-data-model#creating-interleaved-tables)). Next, without `spanner_interleave_in` arg set there is no interleaved relation, meaning setting the `spanner_interleave_on_delete_ca

[2022-01-13 07:22] IlyaFaer commented on #183
I assume the problem causes has been figured out. Closing.
Feel free to reopen in case the issue isn't resolved.

[2022-01-13 07:22] #183 closed

[2022-01-17 07:23] odino opened #192 "ValueError: `staleness` option can't be changed while a transaction is in progress"
#### Environment details

  - OS: Linux `uname -a 5.11.0-46-generic #51~20.04.1-Ubuntu`
  - Language runtime version: Python 3.8.10
  - Package versions:

[code]

#### Steps to reproduce

Running this script:

[code]

ends up running the query, but also throwing an error -- output from the CLI:

[code]

Now, if I use:

[code]

it's all good. Any idea?

[2022-01-17 07:53] IlyaFaer commented on #192
@odino, this PR is going to fix the failure: https://github.com/googleapis/python-spanner-sqlalchemy/pull/188/files
Are using the released version?

[2022-01-17 07:57] IlyaFaer commented on #192
@odino, oh, I guess I know what's happening. By default, you're in `SERIALIZABLE` mode, which means you should commit your operations manually, or use a context manager, like:

[code]
Otherwise you're returning a connection back to connections pool, but there is a transaction in progress on the connection.

[2022-01-18 07:22] vi3k6i5 opened #195 "bug: compliance_test is failing"
#### Environment details

  - Programming language: python-8
  - OS: Mac
  - Language runtime version: python-8
  - Package version: latest

#### Steps to reproduce

  1. nox -s compliance_test

`___ ERROR at setup of RowFetchTest_spanner+spanner.test_row_w_scalar_select ____
Traceback (most recent call last):
  File "/home/runner/work/python-spanner-sqlalchemy/python-spanner-sqlalchemy/.nox/compl

[2022-01-18 08:52] IlyaFaer commented on #195
Going to be fixed by the PR: https://github.com/googleapis/python-spanner-sqlalchemy/pull/191

[2022-01-25 20:49] odino commented on #192
@IlyaFaer thanks for your pointer -- I do assume that is the problem. Though I see you're working on a PR, as it would be convenient not having to commit / roll it back manually eg. when you're executing just some random selects. I actually did not realize everything ran in the context of a tx here.

[2022-01-25 20:55] odino commented on #192
BTW one thing to note, when I switch to `AUTOCOMMIT` I still see some funky warning:

[code]

[2022-01-27 08:10] #195 closed

[2022-01-27 09:05] IlyaFaer commented on #105
The [PR](https://github.com/googleapis/python-spanner-sqlalchemy/pull/191) which prepared a test suite for SQLAlchemy 1.4 is now merged. All the tests passed, so I guess SQLAlchemy 1.4 support is implemented.

Closing the issue, feel free to open in case something's acted up during migration to 1.4 version.

[2022-01-27 09:05] #105 closed

[2022-01-27 09:05] IlyaFaer commented on #177
The [PR](https://github.com/googleapis/python-spanner-sqlalchemy/pull/191) which prepared a test suite for SQLAlchemy 1.4 is now merged. All the tests passed, so I guess SQLAlchemy 1.4 support is implemented.

Closing the issue, feel free to open in case something's acted up during migration to 1.4 version.

[2022-01-27 16:39] aderk commented on #177
setup.py limits the version to < 1.4.0, can this version restriction be changed to allow 1.4.*?
https://github.com/googleapis/python-spanner-sqlalchemy/blob/main/setup.py#L24

[2022-01-28 15:22] vi3k6i5 commented on #192
The issue is resolved now, will do a release with the fix and update here.

[2022-01-28 16:57] vi3k6i5 commented on #192
The fix is now released with the latest version.

[2022-01-28 19:01] failure-checker[bot] opened #199 "Warning: a recent release failed"
The following release PRs may have failed:

* #197

[2022-01-31 17:01] #199 closed

[2022-02-03 08:18] IlyaFaer commented on #185
Solution for the issue seems to be described. Closing.
Feel free to re-open in case you still have questions.

[2022-02-03 08:18] #185 closed

[2022-02-14 01:33] kazshinohara commented on #192
When v1.1.0 will be available at PyPI ?
https://pypi.org/project/sqlalchemy-spanner/#history

[2022-02-14 03:56] larkee commented on #192
Hi @kazshinohara,

It looks like the release failed which is why it is not available on PyPI. Unfortunately, the issue for the failure was closed by a bot before we saw it so we weren't aware of this until now. I'm looking into this issue now and will let you know when it has been successfully published to PyPI.

Apologies for the inconvenience!

[2022-02-14 08:49] IlyaFaer commented on #184
@gabrizappts, could you share your migration scripts?

It's recommended by Alembic to merge several migrations into one to avoid conflicts. Like this:
`alembic merge THE_FIRST THE_SECOND -m "merge migrations"`

[2022-02-14 18:56] kazshinohara commented on #192
@larkee Thanks !!  I'm planning to talk about this ORM at an user community in Japan next month, hopefully the release wil be landed soon.

[2022-02-15 09:08] IlyaFaer commented on #184
Okay, I've been able to reproduce the error:

![Безымянный](https://user-images.githubusercontent.com/26030071/154028721-ef9ec0a0-aee6-478b-a81f-530128789f8b.png)

It appears the problem is that Spanner restricts changing primary keys, and revision number is a primary key in the `alembic_version` table. To fix it, you should just set a flag in the environment file, like this:

![Безымянный2](https

[2022-02-23 22:02] failure-checker[bot] opened #201 "Warning: a recent release failed"
The following release PRs may have failed:

* #197

[2022-02-25 17:02] #201 closed

[2022-03-16 11:40] potiuk opened #204 "Support SQLAlchemy 1.4+"
Thanks for stopping by to let us know something could be better!

**Is your feature request related to a problem? Please describe.**
SQLAlchemy 1.4 has been released quite a while ago (November 2020) and it has mutliple improvments. Major applications has already moved to SQLAlchemy 1.4. For example Apache Airflow switched to 1.4+ a week ago: https://github.com/apache/airflow/pull/22114

This is a

[2022-03-16 11:44] ansh0l commented on #204
@potiuk : I think this was covered in https://github.com/googleapis/python-spanner-sqlalchemy/issues/177 . However, @vi3k6i5 would know the best update.

[2022-03-26 10:51] kazshinohara opened #205 "v1.1.0 is not available at PyPI"
Even though we have v1.1.0 tag in this repo, it is still not available at PyPI.
https://pypi.org/project/sqlalchemy-spanner/

Most of Python users including me use PyPI to download packages through pip/poetry.
Could you make v1.1.0 available at PyPI ?

Context:
#192

[2022-04-15 23:41] kazshinohara commented on #205
@vi3k6i5 Friendly reminder.

[2022-04-21 08:11] meetchandan commented on #192
hey @vi3k6i5 -- as @kazshinohara mentioned, the v1.1.0 release has failed, any tentative date it woud be released?
We are facing this issue even after using engine.begin()

[code]

[2022-05-06 13:33] kazshinohara commented on #192
Hi any update on this ?

[2022-05-14 19:09] ansh0l commented on #205
cc: @asthamohta

[2022-05-17 18:12] trevor-pope opened #209 "Incorrect DDL generated when using server_default"
#### Environment details

  - Programming language: Python 3.10
  - OS: Windows 10
  - Package version: 1.0.0

#### Steps to reproduce
[code]

This generates the following DDL:
[code]
However, spanner syntax requires the default values to be wrapped in parenthesis like so:
[code]

Additionally, when specifying numeric types, the server_default argument (which must be passed in as a string) is stil

[2022-05-18 08:02] ansh0l commented on #192
Hi @asthamohta , please take a look.

[2022-05-18 12:36] parthea commented on #205
Version 1.1.0 is now available on PyPI [here](https://pypi.org/project/sqlalchemy-spanner/1.1.0/).

[2022-05-19 18:22] kazshinohara opened #212 ""ValueError: Transaction is already committed" always happens when session.commit()"
#### Environment details

  - Programming language: Python
  - OS: OSX
  - Language runtime version: 3.9
  - sqlalchemy-spanner version: 1.1.0
  - google-cloud-spanner version: 3.14.0

#### Steps to reproduce

`>>> import uuid

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/kazshinohara/Library/Caches/pypoetry/virtualenvs/spanner-sqlalchemy-demo-refH8cY9-py3.9/

[2022-05-23 12:55] ansh0l commented on #212
Hey @IlyaFaer, please check this issue.

[2022-05-26 13:05] potiuk commented on #204
Yeah. It would be great to get it changed and released. I am happy to provide a PR for that if needed :)

[2022-05-26 13:10] ansh0l commented on #204
We're currently working our way around some tests for this issue, so bumping up the priority.

PR: https://github.com/googleapis/python-spanner-sqlalchemy/pull/207/files

[2022-06-01 09:27] potiuk commented on #204
Looking forward to it !

[2022-06-02 07:45] asthamohta commented on #192
Hi @kazshinohara, @IlyaFaer has figured out the issue and will push a solution by tomorrow so hopefully by early next week we will have a release :)

[2022-06-06 12:07] IlyaFaer commented on #192
I've checked the error on the current `main` branch - everything seems to be in order, no error messages:

![Untitled](https://user-images.githubusercontent.com/26030071/172157098-395f4344-5c70-4c7e-8de8-5a15c20fdd3b.png)

Fixed by #214

Closing the issue. In case the error remains after the next release, feel free to re-open.

[2022-06-06 13:22] asthamohta commented on #204
SQLAlchemy 1.4 support is now available.

[2022-06-06 13:22] #204 closed

[2022-06-06 13:36] potiuk commented on #204
woooho!!!

[2022-06-06 17:02] failure-checker[bot] opened #216 "Warning: a recent release failed"
The following release PRs may have failed:

* #215

[2022-06-07 19:01] failure-checker[bot] opened #217 "Warning: a recent release failed"
The following release PRs may have failed:

* #215

[2022-06-07 22:01] #217 closed

[2022-06-08 01:01] failure-checker[bot] opened #218 "Warning: a recent release failed"
The following release PRs may have failed:

* #215

[2022-06-09 09:18] asthamohta commented on #192
Hey @IlyaFaer, the customer is facing the following issues:

The first one is, it seems not to be able to pick up the sqlalchemy-spanner dialect unless I change the database URL from something like this:

"spanner:///projects/project-id/instances/instance-id/databases/database-id"
to this
"spanner+spanner:///projects/project-id/instances/instance-id/databases/database-id"

so, specifying the drive

[2022-06-10 11:35] IlyaFaer commented on #192
But, wait, when you create a connection to a Spanner database, SQLAlchemy uses our dialect for all the operations. It's not possible to use this dialect with MySQL, because Spanner and MySQL are different. If I understand your case correctly, you should use two different connections for two different databases - one for Spanner, another one for MySQL. By looking at the database URL prefixes, SQLAl

[2022-06-17 07:27] JoudZouzou opened #221 "AttributeError: 'CMySQLConnection' object has no attribute 'inside_transaction' when using spanner + mysql dialects in separate engines"
#### Environment details

  - Programming language: Python
  - OS: Linux
  - Language runtime version: 3.7.12
  - Package version:
  SQLAlchemy==1.4.26
  sqlalchemy-spanner==1.2.0
  mysql-connector-python==8.0.26

#### Steps to reproduce

  1. Setup an engine for spanner, then setup an engine for mysql using mysqlconnector.
  2. Run a query on spanner engine, works fine
  3. Run a query on mysql e

[2022-06-20 07:47] #221 closed

[2022-06-20 13:09] amha19 commented on #192
Apologies for the late response. @IlyaFaer that make sense. It seems the changes made in [this fork ](https://github.com/JoudZouzou/python-spanner-sqlalchemy/commit/a64c3526d69c3f3e86a54fc9bf09457e2456e8cb) and [this change](https://github.com/googleapis/python-spanner-sqlalchemy/pull/222) both can fix the issue I was having even though I’m using a single engine for both Spanner and MySQL (Thank y

[2022-06-21 19:00] #184 closed

[2022-06-23 07:10] IlyaFaer commented on #192
@amha19, if you'll do something like this:

[code]
Engines and connections will be separate (and it's what Flask is doing, as far as I can tell). But all the connections will be using the same reset mechanism. That was the problem of the original issue - connections reset mechanism is global for all the engines and connections on your machine - that's something we didn't expect.

Thus, if I unders

[2022-06-24 10:18] #192 closed

[2022-07-14 06:27] IlyaFaer opened #225 "Add tests for default values"
Users [PR for default values](https://github.com/googleapis/python-spanner-sqlalchemy/pull/220) in SQLAlchemy dialect seems to be working fine, but requires tests.

[2022-08-01 12:04] #209 closed

[2022-08-09 10:19] #225 closed

[2022-08-11 17:12] failure-checker[bot] opened #227 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job is 'autorelease: pending', but expected 'autorelease: published'.

[2022-08-17 14:29] louimet opened #228 "Adding unique constraint generates bad migration"
#### Environment details

OS: Windows 10
Programming language: Python
Language runtime version: 3.9.12
sqlalchemy-spanner version: 1.2.1
google-cloud-spanner version: 3.17.0
alembic version : 1.8.1

#### Steps to reproduce

Add a 'unique' constraint to a model thus:

[code]

#### Output

Whether this line is added to an existing model or when creating a new one, the line generated for the migratio

[2022-08-18 07:47] IlyaFaer opened #229 "Alembic generated migrations support"
Check how limitations are handled by generated migrations:

- alembic_version primary key change fails for generated Alembic migrations

[2022-08-18 07:47] IlyaFaer commented on #229
@asthamohta, @ansh0l

[2022-08-18 07:50] IlyaFaer opened #230 "Improve docs for DDLs are not transactionally executed"

[2022-08-18 08:01] IlyaFaer opened #231 "Introspection method returns primary key indexes, making Alembic migrations inconvenient"
When we generate migrations with Alembic, it always tries to drop a bunch of indexes. Running the migration fails because they are used by foreign keys.

The dropped indexes are those for the primary key of each table. Those indexes are never explicitly created by Alembic, but they are implicitly by virtue of being on primary key columns. This might explain why Alembic tries to drop them.
Right no

[2022-08-18 08:01] IlyaFaer commented on #231
@asthamohta, @ansh0l

[2022-08-18 08:08] IlyaFaer opened #232 "NOT NULL statements are not working for generated Alembic migrations"
the following 2 statements in the Spanner DDL window do the trick :
ALTER TABLE test ADD COLUMN test STRING(MAX);
ALTER TABLE test ALTER COLUMN test STRING(MAX) NOT NULL;

But there is no native way of doing it in SQLAlchemy
The workaround we currently use is to manually edit the migration file to add the two above statements using op.execute(). Tt would be nice if it worked out-of-the-box

[2022-08-18 09:47] #230 closed

[2022-08-18 16:54] IlyaFaer commented on #231
So, the proposed idea was that Alembic is trying to drop primary keys of tables (while primary keys should be managed automatically by Spanner and never touched by users). To build a migration, Alembic uses an introspection method to understand what is the table structure and what needs to be done. All of it is happening here:

https://github.com/sqlalchemy/alembic/blob/873027160f88af277b73223e9fe

[2022-08-19 06:19] IlyaFaer commented on #228
Spanner doesn't support such a column attribute `unique`. To create a unique constraint an index should be declared, like in this example:
https://github.com/googleapis/python-spanner-sqlalchemy#unique-constraints

More info in Spanner docs:
https://cloud.google.com/spanner/docs/secondary-indexes#unique-indexes

[2022-08-19 13:19] louimet commented on #228
Noted, thank you.

[2022-08-19 13:19] #228 closed

[2022-08-22 09:43] IlyaFaer commented on #229
Problem with primary keys in `alembic_version` table should not be a problem.

Alembic only generates migration files, while `env.py` file is written manually by developers. In this `env.py` file a parameter `version_table_pk` should be used to prevent Alembic from using primary keys, see the docs for details:
https://github.com/googleapis/python-spanner-sqlalchemy#migration

[2022-08-23 07:35] IlyaFaer commented on #232
To add a NOT NULL rule for a column, one can use the `nullable` argument of the `Column()` class like this:

![Untitled](https://user-images.githubusercontent.com/26030071/186099136-c8c7c882-c8d0-4b40-9ad3-c6565392efe6.png)

[2022-08-23 09:45] ansh0l commented on #229
@louimet Would you be able able to take a look at this issue and let us know the error you are facing?

[2022-08-23 09:46] ansh0l commented on #232
@louimet Would you be able able to take a look at this issue and let us know the error you are facing?

[2022-08-23 09:46] ansh0l commented on #231
@louimet Would you be able able to take a look at this issue and let us know the error you are facing?

[2022-08-23 09:46] ansh0l commented on #230
cc @louimet

[2022-08-23 09:57] ansh0l commented on #232
@IlyaFaer : I'm not sure if this would work as a migration out of the box. What happens when you apply the migration against a Spanner database, does it work? It would be good to have an integration test cover it.

[2022-08-23 15:54] louimet commented on #232
Hello! :)

We use [declarative mapping](https://docs.sqlalchemy.org/en/14/orm/declarative_tables.html) to create our Alembic migrations using the --autogenerate switch.

[code]
I created the table with only the id column at first. Adding the name column after produces the following migration:

[code]

Running this migration gives this error:

[code]

This is expected, as you can't add a non-primar

[2022-08-23 16:57] louimet commented on #231
I started from scratch to be sure to be able to reproduce the error.

Using the following declarative classes, I generated first a migration with only the Test class. Then a second one that added the Test2 class, with the foreign key on the first table.

[code]

Running those two migrations works fine. But then, if I leave everything as is, i.e. don't change a single thing in my classes, and try t

[2022-08-23 19:49] louimet commented on #229
Working on v3.19.0, I used the following declarative class to generate two migrations. The first creates the 'test' table with only the 'id' column, the second adds the 'name column.

[code]

Running the first migration works fine. But running the second migration gives :

[code]

Note that examining the equivalent DDL for the alembic_version table in the database gives this:

![image](https://use

[2022-08-24 08:14] IlyaFaer commented on #232
Migration from nullable to not nullable column should be possible in one step by providing a default column value - it'll be used to fill values, which are `NULL` in the moment of applying `NOT NULL` rule.

SQLAlchemy doesn't provide convenient way to override `ALTER` statements build mechanism. I see one variant how it can be done though, will try shortly.

[2022-08-24 11:46] IlyaFaer commented on #232
@louimet, what version of SQLAlchemy you're using?

I recall now, we had something like this issue already, and there was an override added here:
https://github.com/googleapis/python-spanner-sqlalchemy/blob/8bab5fb33cb7d08905b5ec5c17ee8f26b848b359/google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py#L1018-L1027

(in the original method a word `SET` is used before `NOT NULL`, which creates problem

[2022-08-24 15:28] louimet commented on #232
I can't seem to make it work by specifying a default value.

Plus, we don't necessarily want a default value on all non-nullable columns. This is necessary when flipping an existing column to non-nullable, but when adding a fresh new non-nullable column, we only want it non-nullable, rejecting inserts that don't specify a value for this column.

Class used:

[code]

(I also tried passing the defau

[2022-08-25 07:13] #227 closed

[2022-08-25 07:46] IlyaFaer commented on #232
Okay, looks like I was able to reproduce the error finally:
[code]
Let's see now how to fix it...

[2022-08-25 10:17] IlyaFaer commented on #232
@louimet, okay, locally I was able to make the failing migration work. As I suspected, it's about `spanner` and `spanner+spanner`.

One thing (looks like you already know this, and still) - when doing an `ALTER`, Spanner requires data type to always be mentioned. It causes a requirement for migrations to mention a current data type of the column except cases when data type is changed. This is a co

[2022-08-25 17:12] failure-checker[bot] opened #235 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job is 'autorelease: pending', but expected 'autorelease: published'.

[2022-08-26 06:39] IlyaFaer commented on #232
A-ah, that's my comment you're mentioning actually,.. Anshul is another person. But okay, the main point it's working for you.
I pushed a PR with the related changes yesterday with a test case of your problem and this `spanner+spanner` change:
https://github.com/googleapis/python-spanner-sqlalchemy/pull/234

[2022-08-26 07:34] IlyaFaer opened #236 "Add retry mechanism description into the repo readme"

[2022-08-26 08:21] #232 closed

[2022-08-26 08:40] IlyaFaer commented on #229
@louimet, hm-m, let's think...

As far as I understand, you've tried to do a first migration, it failed. Than you've added this `version_table_pk=False` argument into `evn.py` and tried again, right?

I suppose, in this case it'll not work, because `alembic_versions` table is already created. According to [the docs](https://alembic.sqlalchemy.org/en/latest/api/runtime.html#alembic.runtime.environm

[2022-08-26 15:30] louimet commented on #232
Oops! Sorry for getting you two mixed up. Thanks for the fix! :)

[2022-08-26 18:53] louimet commented on #229
@IlyaFaer No, version_table_pk was False from the start.

I thought that might be it in our actual database, that we might have added that subsequently. That's why I started from scratch, creating a new database, to make sure that I had that setting with the correct value from the start. And I still get that error.

I just checked again :
- Drop the database, recreate it so it is completely empty,

[2022-08-28 08:09] IlyaFaer commented on #229
@louimet, I was able to reproduce it - thanks for the detailed description! I think I understand the problem now.
@ansh0l, @asthamohta, this probably should be a question for the Spanner backend team.

Logging all the operations, made by Alembic during migration, I see this:

[code]
There are no concurrent updates, but `UPDATE alembic_versions` still fails with the error `409 Transaction aborted.

[2022-08-28 18:49] IlyaFaer commented on #231
@louimet, instead of:
[code]
You can write this:
[code]
It'll generate the same query with NOT NULL and PRIMARY KEY.

[2022-08-28 18:52] IlyaFaer commented on #231
Hm-m... On my end the second migration fails with the error:
[code]
Don't you see the same in the migration logs?

For a deeper analysis of the error root see [this comment](https://github.com/googleapis/python-spanner-sqlalchemy/issues/229#issuecomment-1229403406). Thus, I suspect here happens the same: migration is actually applied, but Alembic didn't update `alembic_version` table, so when you'

[2022-08-29 08:38] asthamohta commented on #235
Release manually completed

[2022-08-29 08:38] #235 closed

[2022-08-29 17:12] failure-checker[bot] opened #238 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job is 'autorelease: pending', but expected 'autorelease: published'.

[2022-08-29 21:14] louimet commented on #229
Yes, it seems to solve the problem.

[code]

Running it gives this:

[code]

The table is created properly, and the alembic_version table is updated with the correct version number, so everything looks fine.

However, since Alembic's autocommit is based on SQLAlchemy's autocommit, which is going to be [deprecated in SqlAlchemy 2.0](https://docs.sqlalchemy.org/en/14/changelog/migration_20.html#migr

[2022-08-29 21:37] louimet commented on #231
Yes, that's the problem we were discussing in that other thread. I was using the emulator here.

But I just tried it online with [the fix you suggested](https://github.com/googleapis/python-spanner-sqlalchemy/issues/229#issuecomment-1229403406), and can reproduce the problem.

Also, the alembic_version table does show the correct version number (that of the second migration, the one that adds the

[2022-08-30 05:01] #238 closed

[2022-08-30 06:19] IlyaFaer commented on #229
Well, we're not the only database, which requires autocommit during migrations (and autocommit on the whole), so there will be solution for all of us in SQLAlchemy 2.0.

I'd say rules of transactions abortion are too strict for now. In this particular case it seems to be safe to run DDL and continue transaction, but it's still aborted. We brought this to responsible engineers' attention, will see

[2022-08-30 07:00] #229 closed

[2022-08-30 13:50] louimet commented on #229
Cool, thanks!

[2022-08-30 17:12] failure-checker[bot] opened #240 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job is 'autorelease: pending', but expected 'autorelease: published'.

[2022-08-31 07:57] IlyaFaer commented on #231
@louimet, aha, I see the problem. Our dialect introspection method returns indexes, which are ruled by Spanner and should not be visible for users. Fixing it in #241

[2022-09-01 06:54] IlyaFaer opened #242 "update installation docs"

[2022-09-15 00:54] yuanyuan-gl opened #246 "Document how sqlalchemy handles transaction aborts or the best practice to handle transaction aborts (for the readwrite transactions)"
Could you please help document the best practice to handle transaction aborts and the errors like “The transaction was aborted and could not be retried due to a concurrent modification.”  There were multiple support cases asking about this.

Thanks!

[2022-09-15 07:06] asthamohta commented on #246
We are about to merge this: https://github.com/googleapis/python-spanner-sqlalchemy/pull/243
Thanks for reaching out!

[2022-09-19 06:35] #231 closed

[2022-09-19 07:23] #242 closed

[2022-09-19 08:20] #236 closed

[2022-09-19 08:20] #246 closed

[2022-09-21 00:12] #240 closed

[2022-09-22 11:34] awertman opened #248 "Enable Spanner Request Priority argument in queries / sessions"
The standard cloud spanner python API enables a RequestOptions parameter in requests which can be used to set request Priorities.

https://cloud.google.com/python/docs/reference/spanner/latest/google.cloud.spanner_v1.types.RequestOptions
https://cloud.google.com/python/docs/reference/spanner/latest/google.cloud.spanner_v1.types.RequestOptions.Priority

https://github.com/googleapis/python-spanner/

[2022-09-23 05:16] IlyaFaer commented on #248
@asthamohta, this should be possible. We're already using some execution options:
https://github.com/googleapis/python-spanner-sqlalchemy/blob/68b9bc8b389c29451317cf78989578e0a7369dad/google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py#L145

Something similar can be done for priorities.

[2022-09-25 03:35] maxpz opened #249 "Do you support Spanner Async Client?"
Hi Everyone!

Does the current version support the Google Spanner Async Client? https://cloud.google.com/python/docs/reference/spanner/latest/google.cloud.spanner_v1.services.spanner.SpannerAsyncClient

If not. Are there plans to support it? I think it would be a great feature to have.

[2022-09-27 07:19] IlyaFaer commented on #249
Hello, @maxpz,

Python Spanner client supports async client:
https://github.com/googleapis/python-spanner/blob/451c8ebfb576d1347f0f0fb90921d5ce3abf4730/google/cloud/spanner_v1/services/spanner/async_client.py

`sqlalchemy_spanner` is built on top of the Python Spanner client. Thus, yes, it's possible and we're going to support it, but I don't think we have straight ETAs yet.

@asthamohta, looks li

[2022-09-27 18:32] maxpz commented on #249
Hi @IlyaFaer,

Thanks so much for your quick response. Great news that you are planning to support it! We'll be looking forward to using it. Please let me know if we can help with some testing.

[2022-09-29 19:33] louimet commented on #231
Hi,

I can still reproduce this issue in 1.2.1.

Generate a migration using these models.

[code]

Run `alembic upgrade head`, then immediately generate another revision, and it contains a drop of the foreign key index.

[2022-09-30 06:55] IlyaFaer commented on #231
@louimet, oh, yes. 1.2.1 was released in Aug, while the fixes were made in Sep.
@asthamohta, it'd be good to cut a release with the last bunch of fixes.

[2022-09-30 13:48] louimet commented on #231
Oh... Sorry, I'm confused. I was told that the version containing the fixes had been released. I thought it weird that it was dated back from August. Well, that applies to my comment in 232 as well then. I'll clarify the matter. Thanks!

[2022-10-04 17:12] failure-checker[bot] opened #263 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job failed -- check the build log.

[2022-10-06 07:06] #263 closed

[2022-10-06 17:12] failure-checker[bot] opened #265 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job failed -- check the build log.

[2022-10-13 21:55] elainearbaugh opened #269 "alembic incompatibility with sqlalchemy < 1.3.11 due to computed columns"
#### Environment details

  - Programming language: python
  - OS: macos
  - Language runtime version: 3.7.14
  - Package version: sqlalchemy-spanner 1.3.2, sqlalchemy 1.2.12, alembic 0.9.3

#### Steps to reproduce

  1. install any sqlalchemy version under 1.3.11
  2. run any alembic migration

Easy way to try this using the existing tests--in the [migration_test function](https://github.com/goog

[2022-10-13 21:56] elainearbaugh commented on #269
Created a PR with the fix I mentioned here: https://github.com/googleapis/python-spanner-sqlalchemy/pull/270

[2022-10-14 15:10] louimet opened #271 "Migrations drop and identically recreate certain foreign keys"
Hello! I'm opening a new issue, but this looks quite possibly related to [issue 231](https://github.com/googleapis/python-spanner-sqlalchemy/issues/231).

Following the release of version 1.2.2, we observe a new, strange behavior in migrations regarding a slightly tricky foreign key we use.

In short, we are linking two entities together in a table, and we want to enforce that a certain property o

[2022-10-17 10:52] asthamohta commented on #265
Did a manual release

[2022-10-17 10:52] #265 closed

[2022-10-17 17:12] failure-checker[bot] opened #272 "Warning: a recent release failed"
The following release PRs may have failed:

* #224 - The release job failed -- check the build log.

[2022-10-26 04:13] Joselguti opened #285 "Table Object"
Hello,

I am trying to create a complete pipeline from the data I have in my computer to spanner, the steps are the following:
1.- I have the data as a Pandas Dataframe
2.- I create the table on spanner "dynamically" from said dataframe by doing the following code
[code]

 3.-Now I would like to insert the data to the created table in spanner

 I was looking at the following function in your files

[2022-10-30 07:52] IlyaFaer commented on #285
@Joselguti, I don't see any `sqlalchemy_spanner` code in your snippet, you're using only pure `python-spanner` client. Are you going to use `sqlalchemy_spanner` dialect?

Looking at your code, I think, yes, you should use the dialect. Creation of a table with it can be done like this:
https://github.com/googleapis/python-spanner-sqlalchemy#create-a-table

Here is how you can reference an existing

[2022-11-01 17:12] #272 closed

[2022-11-04 04:58] Joselguti commented on #285
@IlyaFaer Thank you for your feedback, I was able to integrate your ideas to my code.

Another question, If I have an existing table on Spanner and I would like to add a new column, how could I acheive this via Python?

[2022-11-04 06:19] IlyaFaer commented on #285
@Joselguti,

If you're using the pure `python-spanner` client, you can run the `update_ddl()` method with [Spanner ALTER operations](https://cloud.google.com/spanner/docs/schema-updates), like in the system tests, for example:
https://github.com/googleapis/python-spanner/blob/57cbf4de90018c47825f4adff03d13aaeb8ca868/tests/system/test_database_api.py#L260-L263

With the SQLAlchemy dialect you can u

[2022-11-04 17:34] jstlaurent commented on #271
I've created a [repo](https://github.com/jstlaurent/spanner-alembic-fk-issue) with the issue reproduced. Hopefully that can be helpful in finding the cause.

[2022-11-05 10:54] jeetpatel9 opened #288 "Unable to set cloud spanner dialect for Alembic"
I have installed the following packages -

[code]

Then I created a file `main.py` where I am creating a SQLAlchemy engine for cloud spanner.

[code]

Then in `alembic.ini` I have used the same url as shown above for engine.

[code]

Also in `env.py` I have set the base's matadata as shown below -

[code]

I also have a `models.py` which has just one model as shown below -

[code]

When I run the

[2022-11-08 06:51] IlyaFaer commented on #271
@jstlaurent, @louimet, d'accord, I finally reproduced the error with this repo. Looks like a tiny thing somewhere didn't much between your and my configurations, so it was working on my end.

Now let's see what's really happening there...

[2022-11-08 07:43] IlyaFaer commented on #271
@asthamohta, I think I see the problem. When SQLAlchemy introspects foreign keys, constrained columns are returned in another order:

![Untitled](https://user-images.githubusercontent.com/26030071/200503654-359828a7-bedf-401e-9e50-bb08ba3027b1.png)

As Spanner doesn't support arrays ordering, it looks like we need to invent something here.

[2022-11-08 14:07] Joselguti commented on #285
@IlyaFaer,

I have been doing several tests using SQLAlchemy dialect, tests of insertion and read of data in big chunks, I have encountered the following error when inserting/reading more than 250.000 rows and 24 columns at once:

[code]

To fix this error I am just splitting it in smaller sections and cycling to insert/read them into spanner, do you know of another solution?

On other hand, I hav

[2022-11-10 06:52] IlyaFaer commented on #285
No, here I don't see another solution. `Aborted` kind of error means a data conflict: the data read/written is no longer actual, so it can't be written/read correctly. The longer a transaction takes and the more data it influences, the higher is the chance of an `Aborted` error. We have an aborted transaction auto-retry mechanism (see [this](https://github.com/googleapis/python-spanner-sqlalchemy#

[2022-11-10 06:55] IlyaFaer commented on #285
DDLs in Spanner are executed outside of normal transactions and in the default mode they are lazy. It means when you're executing DDLs, they are not really executed, but gathered into a batch. On commit or another SQL operation execute, all the batched DDLs are executed on the database. So, I guess, you just need to call commit in your program to make the DDl happen.

[2022-11-12 08:37] jeetpatel9 opened #291 "Unable to insert UUID as integer in primary key column of a table created in spanner database"
I have model written in declarative base of SQL Alchemy.

[code]

As you may have noticed I have set the default value of primary key column `id` to `get_uuid()`.

[code]

The above method return UUID as integer of bit size 64 or less. This is because the column `id` of this table is set to int and spanner can hold up to 64 bit.

So now to insert a row in this table -

[code]
This resulted in foll

[2022-11-16 07:07] IlyaFaer commented on #288
Solved on Stackoverflow:
https://stackoverflow.com/questions/74177257/unable-to-set-cloud-spanner-dialect-for-alembic/74344150#74344150

[2022-11-16 07:07] #288 closed

[2022-11-16 07:11] IlyaFaer commented on #291
@jeetpatel9, well, this value `18011687921562567628` is bigger than the maximum Spanner INT64 value: https://cloud.google.com/spanner/docs/reference/standard-sql/data-types#integer_types

That's why it's failing.

[2022-11-16 11:15] #291 closed

[2022-11-17 05:38] IlyaFaer commented on #285
Seems like all the questions are answered for now. Closing the issue.

[2022-11-17 05:38] #285 closed

[2022-11-22 11:20] #248 closed

[2022-11-24 06:52] #271 closed